<!DOCTYPE html>
<html>
<head>	
  <title>ComicBook Universe - Anime</title>
  <link rel="stylesheet" type="text/css" href="/css/ComicBookUniverse.css">
  <!-- Favicon fun -->
  <link rel="icon" 
      type="image/jpg" 
      href="/images/boom-comic-book-explosion.jpg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <header>
    <nav>
      <p id="hsButton">Hide/Show</p>
      <ul>
        <li><a href="ComicBookUniverse">ComicBook Universe</a></li>
        <li><a href="comics">Comics</a></li>
        <li><a href="manga">Manga</a></li>
        <li><a href="anime">Anime</a></li>
        <li><a href="collectibles">Collectibles</a></li>
        <li><a href="StanLee">Stan Lee</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  	<h1> # ComicBook Universe #</h1>
  	<section class="hideable">
		<h2>Manga</h2>
		<div class="imgs">
			<img src="http://www.cyberbotx.com/Naram/Youmacon2005/FullmetalAlchemist1SignedByCaitlinGlass.jpg">
			<img src="http://vignette4.wikia.nocookie.net/dragonball/images/0/0d/DBallv1.jpg/revision/latest/scale-to-width-down/300?cb=20100715065659">
			<img src="http://static.comicvine.com/uploads/scale_small/7/71975/2101119-44279_samurai_champloo_film_manga_volume_1_super.jpg">
			<img src="/images/SNote.jpeg">
			<img src="http://images.techtimes.com/data/images/full/125307/naruto-manga-cover.jpg?w=600">
			<img src="http://orig09.deviantart.net/3836/f/2010/316/a/5/one_piece_takonbon_cover_60_mq_by_lorenxx-d32ovac.jpg">
		</div>
	</section>
</body>
</html>