<!DOCTYPE html>
<html>
    <head>
        <title>Stan Lee's Marvel Page</title>
        <link type="text/css" rel="stylesheet" href="/css/ComicBookUniverse.css">
         <!-- Favicon fun -->
  		<link rel="icon" 
      		type="image/jpg" 
      		href="/images/boom-comic-book-explosion.jpg">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body id="stan">
		<header>
	    	<nav>
		    	<p class="hsButton">Hide/Show</p>
		    	<ul>
			      	<li><a href="ComicBookUniverse">ComicBook Universe</a></li>
			        <li><a href="comics">Comics</a></li>
			        <li><a href="manga">Manga</a></li>
			        <li><a href="anime">Anime</a></li>
			        <li><a href="collectibles">Collectibles</a></li>
			        <li><a href="StanLee">Stan Lee</a></li>
			        <li><a href="contact">Contact</a></li>
		    	</ul>  
		    </nav>
		</header>
		<!-- <div class="clear"></div>
    	<div id="localNav">
    	 	<ul>
	    		<li><a href="#origin">Origin</a></li>
	    		<li><a href="#debut">Debut</a></li>
	    		<li><a href="#Age">Age of Marvel</a></li>
	    		<li><a href="#tv">TV</a></li>
	    		<li><a href="#cinema">Cinema</a></li>
	    		<li><a href="#videogames">Videogames</a></li>
	    		<li><a href="#cameos">Cameos</a></li>
	    		<li><a href="#legacy">Legacy</a></li>
	    		<li><a href="#media">Media</a></li>
	    	</ul>
    	</div>	 -->
	    <article>
	    	  	<h1> # ComicBook Universe #</h1>
	    	<section>
	            <h2 id="origin">Origin of Stan Lee</h1>
	            <p>
	            	Stan Lee(Stanley Martin Lieber) was born on December 22 1922 in New York City. He bagan having a dream of becoming a very successful Great American Novel Artist because he have a passion for writing. At the age of 16 Stan Lee graduated high school (DeWitt Clinton High School ) early. With the help of his uncle Robbie Solomon, Stan Lee became an assistant in 1939 at the new Timely Comics division of pulp magazine and comic-book publisher Martin Goodman's company also joined the WPA Federal Theatre Project.
	        	</p>
			</section>
			<section>
	            <h2 id="debut">Stan Lee Comic Book Debut</h2>
	            <p>
	            	In the year of 1941, Stan Lee introduced his first comic book which is known as Captain America: Foils the Traitor's Revenge. After a while, Captain America became one of Stan Lee's signature heroes. Then Stan Lee graduated from writing filler to actual comics with a backup feature, "'Headline' Hunter, Foreign Correspondent". Lee's first superhero co-creation was the Destroyer, in Mystic Comics #6 (August 1941). Other characters he created during this period fans and historians call the Golden Age of comics include Jack Frost, debuting in USA Comics #1 (August 1941), and Father Time.
	        	</p>
			</section>
			<section>
	            <h2 id="#age">Stan Lee Age of Marvel</h2>
	            <p>
	            	In the late 1950s, Stan Lee with the help from an artist known as Jack Kirby crated their first superhero team known as The Fantastic 4. Immediately after the first selling of their comic Fanatasic 4, popularity streamed. That gave more than enough motivation for Stan Lee and Jack Kirby to produce more Fantastic 4 comics which also lead into creating more heroes such as Thor, Hulk, X-Men, Spider-Man, Doctor Strange, The Avengers and so much more. With all of these heroes, villains and storylines, Stan Lee created for what we all know as the Marvel Universe. A never ending universe filled with earth's mightiest heroes, villains and so much more. A new hero will rise and a new villain more powerful, unique in different ways.
	        	</p>
			</section>
			<section>
	            <h2 id="tv">Stan Lee's Creation on TV</h2>
	            <p> 
	            	In the 1980s Stan Lee's Marvel creation for comic books was now being presented on TV animation shows. The first ever Marvel animated show was known as Incredible Hulk Animated Series. The show had a lot of success which led to numerous of animated shows such as Spider-Man and His Amazing Friends, X-Men, Fantasic 4 and so much more. Marvel animated shows gave inspiration for many kids and Stan Lee attended many conventions, answer questions and giving a thumbs up. Throughout the years Marvel animated shows have a deeper tone, compelling stories and villains. Stan Lee's Marvel Universe reaching newer heights in animated shows as each day goes. Stan Lee has a huge impact on Marvel and without him, there would be no favorite superhero shows, no favorites when comparing to DC Universe heroes and no comic books with our favorite heroes/villans. Years later Marvel started tro produce live action shows such as Agents of S.H.I.E.L.D. Agent Carter, Powers, Daredevil and soon to be having Iron Fist, The Defenders and so much more on underway.
	        	</p>
            </section>
            <section>
	            <h2 id="#cinema">Stan Lee's Creation on Cinemas</h2>
	            <p>
	            	In the year 1989 the first ever Marvel cinema movie was known as The Trials of the Incredible Hulk. After an 11 year drought of the Marvel cinematic world, X-Men was produced. Soon after X-Men's success, in the year 2002 Spider-Man was brought into the Marvel cinematic world. Unfortunately for Spider-Man he was being owned by SONY who had no interest in connecting Spider-Man with other Marvel characters in Spider-Man's world. Over the years Daredevil, Fantastic 4, Punisher, Iron Man, Captain America, Thor, Avengers and so much more coming into the Marvel Cinematic Universe. There will be a blockbuster Marvel Cinematic movie where a lot of Marvel's heroes teaming up against Marvel's most powerful and dangerous villain known as Thanos who wields a Gauntlet with the Infinity Stones. The movie itself will be one of Marvel's intriguing cinematic movies. Stan Lee who originally created The Infinity Wars in the Marvel Universe is one of the more compelling comic books in Marvel history. Stan Lee's creation for the Infinity Wars will be a sight for seeing in the many years to come.
	        	</p>
			</section>
			<section>
	            <h2 id="videogames">Stan Lee's Creation in Videogames</h2>
	            <p>
	            	After the success of Stan Lee's Marvel Universe in comic books, animated shows and cinemas, Marvel Universe is now being presented in videogames. Hulk, X-Men, Spider-Man, Captain America, Iron Man, Avengers, Deadpool and so much more have made it to the videogame universe. Stan Lee's creation of the Marvel Universe made it to the age of gaming. Everyone is buying and paying the game of their favorite heroes as good triumps over evil. Playing as your favorite hero whether its a free roam or going along with the story, Stan Lee helps provide the best story in gaming possible. Whether its going to be a new one or an alternate one or continuation, he is always there to provide a hand before releasing the game to the public.
	        	</p>
			</section>
			<section>
	            <h2 id="cameos">Stan Lee's Cameos</h2>
	            <p>
	        		As usual in the Marvel Universe whether it be a comic book page, animated show, videogame and cinemas there will be easter eggs. The most common easter egg you'll see in the Marvel Universe is Stan Lee in person. Stan Lee cameos are everywhere in Marvel. Whether it be himself as a character, his voice as different character, being the narrator in comic books, animated shows and cinemas. Its fun to see Stan Lee in the Marvel Cinematic/Animated Universe. Whether its funny or not, he'll be there for every Marvel Show, game and cinema except for Fantastic 4 that was released August 7th 2015. Stan Lee was unable to be a cameo for the movie and so far that is the only movie in the Marvel Cinematic Universe where there isn't a cameo of Stan Lee. As long as Marvel continues to rise in animated shows, cinemas, comic books and videogames, there will be more cameos/easter eggs of Stan Lee. 
	    		</p>
			</section>
			<section>
	            <h2 id="legacy">Stan Lee's Legacy</h2>
	            <p>
	            	Stan Lee as of now is 92 years old. His legacy for creatimg the Marvel Universe will go down as one of the Greatest American Novel Writers in history. Stan Lee still have a long way to go in his creation. Stan Lee will always be that helping hand in Marvel for many years to come until his time has come to an end. Stan Lee's Marvel creation is by far one of the greatest superhero universes there is to this day. Stan Lee desire came true, his hard work paid off and his enjoyment for creating will continue for the rest of time. Marvel will continue to grow for many years to come. More movies, animated shows, comic books and cinemas will continue to produce. Stan Lee is and will be Marvel's biggest hero because without him, there will be no such thing as Marvel to even begin with. Stan Lee became a writer, served his country in 1942, created his first ever superhero comic known as Captain America, created his first ever superhero team known as Fantastic 4, expanding his creativity to bring a lot of heroes and villains.  Stan Lee accomplished so much over the years. There will be in any part of the day, he's working on some idea or trying to motivate someone into the right direction in the Marvel Universe or just trying to put himself into a cameo in anything related to his creation. Stan Lee is by far one of the greats in fictional writing. Hall of Famer for sure.
	        	</p>
        	</section>
		</article>
		<section id="media">
		    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Stan_Lee_by_Gage_Skidmore_3.jpg">
		    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Stan_Lee_sig.jpg">
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/4fr-wvOlaaU" frameborder="0" allowfullscreen></iframe>
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/8OelFkYByH4" frameborder="0" allowfullscreen></iframe>
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/ELWXUne8S2I" frameborder="0" allowfullscreen></iframe>
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/damX80VyiO0" frameborder="0" allowfullscreen></iframe>
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/wjMMayhbAFc" frameborder="0" allowfullscreen></iframe>
		    <iframe width="560" height="315" src="https://www.youtube.com/embed/Gwf3e-FPVds" frameborder="0" allowfullscreen></iframe>  
		</section>
	    <script type="text/javascript">

		    //Hide/show nav links
		    $(".hsButton").click(function (event){
		      $(event.currentTarget).find(" + ul").toggle();
		    });
  		</script>
    </body>
</html>