<!DOCTYPE html>
<html>
	<head>
		<title>Stan Lee's Marvel Page</title>
		<link type="text/css" rel="stylesheet" href="StanLee.css">
	</head>
	<body>

			<h1>History of Marvel's Stan Lee</h1>
			<p>Stan Lee (Stanley Martin Lieber) is famous for creating what we love today and that is known as Marvel. One of the founding fathers of creating Spider-man, The Hulk, Fantastic 4, Wolverine, X-Men, Avengers and many more Marvel superheroes, heroines and villains. Stan Lee help create the comic books we all read to this very day. Stan is is the first to have multi universes in the Marvel series that links up with DC Universe. Conjoining universes in X-Men, Avnegers, Guardians of the Galaxy, Spider-Man and so much others in a single realm. Expanding the universe in different ways imaginable. If your thinking what some of your favorite Marvel character should be doing, its most likely to be done already. The Marvel comics been out for decades. Each hero and villain with their own stories with multiple outcomes in their ends. Stan Lee expands in the Marvel world to different heights. Him and others as well. He graduated from writing filler to actual comics with a backup feature, "'Headline' Hunter, Foreign Correspondent", two issues later. Lee's first superhero co-creation was the Destroyer, in Mystic Comics #6 (August 1941). Other characters he created during this period fans and historians call the Golden Age of comics include Jack Frost, debuting in USA Comics #1 (August 1941), and Father Time, debuting in Captain America Comics #6 (August 1941). He graduated from writing filler to actual comics with a backup feature, "'Headline' Hunter, Foreign Correspondent", two issues later. Lee's first superhero co-creation was the Destroyer, in Mystic Comics #6 (August 1941). Other characters he created during this period fans and historians call the Golden Age of comics include Jack Frost, debuting in USA Comics #1 (August 1941). The first superhero group Stan Lee created with the help from Jack Kirby (the artist) was the Fantastic 4. Soon after he created the rest of the Marvel Universe. From there a lot has changed over the years. Marvel Studios was brought to life. Expanding Marvel through numerous of TV series such as Thor, X-men, Spider-Man, The Hulk, Fantastic 4, Avengers and so much more. Soon after expanding the animation universe, Stan Lee's Marvel creation was moved to the cinemas. This is when Stan Lee promotes himself into the movies. He started when the first ever Hulk Movie (Trials of the Incredible Hulk) til the most recent movie in the Marvel Cineamatic Universe Ant-Man. Stan Lee did camoes in movies, TV series, videogames. There is no end to this man. There are very few movies that did not have a Stan Lee cameo but nonetheless, Stan Lee will pop up in your favorite Marvel show, movie and videogame. </p>

			<img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Stan_Lee_by_Gage_Skidmore_3.jpg">
			<img src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Stan_Lee_sig.jpg">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/4fr-wvOlaaU" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/8OelFkYByH4" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ELWXUne8S2I" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/damX80VyiO0" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/wjMMayhbAFc" frameborder="0" allowfullscreen></iframe>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Gwf3e-FPVds" frameborder="0" allowfullscreen></iframe>	
	</body>
</html>		