@font-face {
    font-family: Mandingo;
    src: url("/css/mandingo/MANDINGO.TTF");
}
body {
	max-width: 2000px;
	max-height: 1800px;
	background-color: orange;
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	font-family: Mandingo;
}
nav {
	width:15%;
	background-color: white;
	border:2px solid black;
	border-radius: 25px;
	padding:5px;
	margin:5px;
	position:fixed;
	overflow:hidden;
	float:left;

}
li {
	list-style-type: none;
	border:2px solid black;
	margin-top:5px;
	margin-bottom: 5px;
	border-radius: 10px;
	text-align: center;
	padding:5px;
}
img {
	float:left;
	width:400px;
	height:650px;
	padding:10px;

}
section{
	width:70%;
	height:100%;
	margin-right: auto;
	margin-left: auto;
	
}
.imgs {
	padding:10px;
	overflow: hidden;
	border-radius: 50px;
	background-color: gray;
	border:2px solid black;
	width:90%;
	margin-left: auto;
	margin-right:auto;
}
h1{
	font-size: 35px;
}
h1,h2,h3 {
	clear:both;
}
h2,h3 {
	border:5px solid black;
	border-radius: 20px;
	padding:10px;
	background-color: white;
}
#hsButton{
	border:2px solid black;
	border-radius: 10px;
}
form {
	/*text-align: left;*/
	margin-left: auto;
	margin-right:auto;
	width: 50%;
	border:2px solid black;
	border-radius: 25px;
	padding:10px;
}
#stan{
	background-color: red;
}

